h3 {
	font-size: 1.5rem;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.card {
	height: 20vh;
}

#score-crd label {
	font-size: 1.25rem;
}

#score-crd #player-win-count {
	font-size: 1.5rem;
}

#score-crd #computer-win-count {
	font-size: 1.5rem;
}

.btn {
	height: 4rem;
}

#guess-crd {
	grid-column: 1 / span 2;
}

#question {
	font-size: 2rem;
}

#guess-output {
	font-size: 2rem;
}

#score-crd {
	grid-column: 1 / span 2;
}

#guesses-used-crd {
	grid-column: 1 / span 1;
}

#number-of-guesses-crd {
	grid-column: 2 / span 1;
}

#btn-rules {
	grid-column: 1 / span 1;
}

#btn-reset {
	grid-column: 2 / span 1;
}

#btn-correct {
	grid-column: 1 / span 2;
}

#btn-lower {
	grid-column: 1 / span 1;
}

#btn-higher {
	grid-column: 2 / span 1;
}
